name: CI

on: pull_request

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version-file: go.mod
    - uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
      with:
        version: v2.5.0

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version-file: go.mod
    - # gotestsum v.13.0
      run: >-
        go run gotest.tools/gotestsum@c4a0df2e75a225d979a444342dd3db752b53619f
        --jsonfile unit-tests.json
        --format testdox
        --
        -v -cover -coverpkg=./... -coverprofile=coverage.txt -covermode=atomic
        -timeout 20m ./...
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: test-results
        path: unit-tests.json
      if: ${{ !cancelled() }}
