name: Report

on:
  workflow_run:
    workflows: [CI]
    types: [completed]

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  test-results:
    runs-on: ubuntu-latest
    steps:
    - uses: dorny/test-reporter@7b7927aa7da8b82e81e755810cb51f39941a2cc7 # v2.2.0
      with:
        artifact: test-results
        name: go test
        path: unit-tests.json
        reporter: golang-json
